/* INIT ***********************************************************************/
pre,textarea{overflow:auto}html,table{border-collapse:collapse}audio:not([controls]),template{display:none}details,main,summary{display:block}input[type=number]{width:auto}input[type=search]{-webkit-appearance:textfield}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}progress{display:inline-block}small{font-size:75%}[unselectable]{user-select:none}*,::after,::before{box-sizing:inherit;text-decoration:inherit;vertical-align:inherit;border-style:solid;border-width:0}*{color:inherit;font-family:inherit;font-size:inherit;font-style:inherit;line-height:inherit;border-collapse:inherit}*,:after,:before,body,html{margin:0;padding:0;outline:0;border:none}:root{-ms-overflow-style:-ms-autohiding-scrollbar;overflow-y:scroll;text-size-adjust:100%;box-sizing:border-box;cursor:default;font-family:sans-serif;line-height:1.5em;text-rendering:optimizeLegibility;vertical-align:top}a{color:inherit;text-decoration:inherit;}button,input,select,textarea{background:0 0}code,kbd,pre,samp{font-family:monospace,monospace}input{min-height:1.5em}nav ol,nav ul, ol, ul{list-style:none}select{-moz-appearance:none;-webkit-appearance:none}select::-ms-expand{display:none}select::-ms-value{color:currentColor}textarea{resize:vertical}::selection{color:#fff;background-color:#444;text-shadow:none}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){clip:rect(0 0 0 0)!important;position:absolute!important}}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;border:none}button{overflow:visible}table{border-spacing:0}:not(body){background-repeat:no-repeat;background-position:50%;background-size:cover}[hidden]{display:none!important}
sub, sup {
    vertical-align: baseline;
    font-size: 80%;
    line-height: 0;
    position: relative;
    text-decoration: none;
    border: none;
}
sup {
    top: -0.5rem;
}
sub {
    bottom: -0.25rem;
}
button {
    cursor: pointer;
}
strong {
    vertical-align: baseline;
}

/* VARIABLES ******************************************************************/
$color-main: #08f;
$color-link: $color-main;
$color-navburger: #4af;

/* DEFAULT FONTS **************************************************************/
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
i,
time,
small {
    font-family: "Open Sans", "Helvetica Neue", "Verdana", sans-serif;
    word-wrap: break-word;
    font-weight: 400;
}

p,
a,
li,
i,
time {
    line-height: 1.8rem;
    font-size: 1.2rem;
}

code {
    font-family: "Menlo", "Lucida Console", monospace;
    font-size: 1rem;
    /* word-wrap: break-word; */
}
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code,
p code,
i code,
a code,
li code {
    display: inline;
    padding: .2rem .4rem .1rem .4rem;
    vertical-align: baseline;
    margin: 0;
    border-radius: .3rem;
    white-space: nowrap;
}

i,
em {
    font-style: italic;
}

h1 {
    font-size: 2.4rem;
    line-height: 3.6rem;
}
h2 {
    font-size: 1.8rem;
    line-height: 2.6rem;
}
h3 {
    font-size: 1.4rem;
}

/* DEFAULT LINKS **************************************************************/
.link:link {
    color: $color-link;
    border-bottom: .15rem dotted;
}
.link:hover,
.link:focus,
.link:active {
    color: $color-link;
    border-bottom: .15rem solid;
}
.link:visited {
    color: #8a8a8a;
    border-bottom: .15rem dotted;
}

/* DEFAULT COLOR **************************************************************/
html {
    color: black;
    background-color: $color-main;
}
body {
    background-color: white;
}

code {
    background-color: black;
    color: #65ff46;
}

/* LAYOUT ETC *****************************************************************/
html, body {
    min-height: 100%;
    min-width: 100%;
    z-index: 0;
}
li {
    margin-bottom: .6rem;
}
sup {
    margin: 0 0 0 .1rem;
}
code {
    display: block;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    overflow: scroll;
}

.logo {
    height: 3rem;
    width: 3rem;
    border-radius: .2rem;
    margin: .5rem auto;
    display: block;
}
.social-links-container,
.homehero-social-links-container {
    max-width: 44rem;
    margin: 0 auto;
    display: block;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footericon,
.homehero-footericon {
    padding: .5rem 0 .5rem 0;
    display: inline-block;
    text-align: left;
    line-height: 3rem;
    margin: 1rem auto;
}
.footericon::before,
.homehero-footericon::before {
    content: "";
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-right: .5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.homehero-social-links-container {
    max-width: 20rem;
}
.homehero-footericon {
    width: 8rem;
}

.icon-email::before {
    background-image: url("/img/icons/email.svg");
}
.icon-octocat::before {
    background-image: url("/img/icons/github.svg");
}
.icon-dribbble::before {
    background-image: url("/img/icons/dribbble.svg");
}
.icon-spotify::before {
    background-image: url("/img/icons/spotify.svg");
}

main {
    min-height: calc(100vh - 10rem);
    width: 100%;
    padding: 1rem;
}

main > section:not(.full-width),
main > article:not(.full-width),
main > div > section:not(.full-width),
main > div > article:not(.full-width) {
    max-width: 44rem;
    margin: 0 auto 4rem auto;
}

.siteheader, .sitefooter {
    width: 100%;
}

.siteheader {
    padding: .5rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.masthead {
    font-size: 2.4rem;
    line-height: 3rem;
    margin: 0 auto;
}

.homehero {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
}
.homehero-header {
    text-align: center;
}

.homehero-blurb {
    max-width: 44rem;
    width: 90%;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
}

.sitefooter {
    text-align: center;
    padding: 1rem;
}

.paragraph-group {
    margin-bottom: 3rem;
}
.blog-post p,
.blog-post ul,
.blog-post ol {
    padding-bottom: 1.4rem;
}
.blog-post h2 {
    padding-bottom: 1rem;
}
.blog-post ul {
    position: relative;
}
.blog-post ul li {
    padding: 0 1rem;
}
.blog-post ol li {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    padding: 0 .5rem;
}
.blog-post ul li::before { /* If we do it the normal way, the bullet is way too big. */
    content:"•";
    position: absolute;
    left: 0;
}
.blog-post ol {
    list-style: decimal outside none;
}
ol.footnotes {
    list-style: decimal inside none;
}
ol.footnotes li {
    margin-left: 0;
    margin-right: 0;
}

.post-start {
    text-align: center;
    margin-bottom: 2rem;
}
.postlist-post-title {
    display: inline-block;
    padding: 0;
    border-bottom: none;
    font-size: 2.4rem;
    line-height: 3.6rem;
}
.postlist li {
    margin-bottom: 4rem;
}
.postlist p {
    padding-top: .5rem;
}
.postlist-date {
    display: block;
    padding-top: .5rem;
}
.postlist-continue {
    display: inline-block;
}

/* Footnotes */
span[data-link-onpage*=footnote] {
    color: white;
    cursor: pointer !important;
    height: 1rem;
    width: 1rem;
    padding: .1rem;
    display: inline-block;
    text-align: center;
    font-size: .9rem;
    position: relative;
    border-radius: .2rem;
    line-height: .8rem;
}

/* FONTS **********************************************************************/
.masthead,
.siteheader p,
.homehero-header p {
    font-weight: 200;
}

/* LINKS **********************************************************************/
.link-homehero {
    font-size: 2rem;
    line-height: 3rem;
    color: white;
}
.link-homehero:link {
    color: white;
    border-bottom: .18rem dotted;
}
.link-homehero:hover,
.link-homehero:focus,
.link-homehero:active {
    border-bottom: .18rem solid;
    color: white;
}

/* COLOR **********************************************************************/
/* really blue: #006fff
 * brighter blue: #108fff
 * blueprint blue: #08f
 * dark blue: #0646b6
 * pale sky blue: #5af
 */

.siteheader, .sitefooter {
    background-color: $color-main;
    color: white;
}

.postlist time,
.post-start time {
    color: #888888;
}

/* Footnotes */
span[data-link-onpage*=footnote] {
    background-color: $color-main;
}

.homehero {
    background-color: $color-main;
    color: white;
}

.postlist-post-title {
    color: $color-main;
}
.link-post:visited .postlist-post-title {
    color: #8a8a8a;
}

/* NARROW SCREENS *************************************************************/
@media (max-width: 40rem) {

    h1 {
        font-size: 2.2rem;
        line-height: 3rem;
    }
    h2 {
        font-size: 1.7rem;
        line-height: 2.6rem;
    }
    h3 {
        font-size: 1.4rem;
    }

    p,
    a,
    li,
    i,
    time {
        line-height: 1.8rem;
        font-size: 1.1rem;
    }
    code {
        font-size: 1rem;
    }

    .siteheader {
        display: inherit;
    }

    .homehero-p, .link-homehero {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .social-links-container {
        max-width: 20rem;
    }
    .footericon {
        width: 8rem;
    }
    .homehero-footericon {
        margin-bottom: 1rem;
    }

}
/* UTILITIES ******************************************************************/

/* Use for linking to something on the same page, instead of an anchor tag. */
.u-link-onpage {}
.u-backbutton-link-onpage {
    position: absolute;
    bottom: -2.5rem;
    right: 1rem;
}

.u-position-relative {
    position: relative;
}

.u-left {
    float: left !important;
}
.u-right {
    float: right !important;
}
.u-center {
    text-align: center !important;
}

.u-text-align-right {
    text-align: right;
}

.u-flex-justified {
    display: flex;
    justify-content: space-between;
}

.u-indent-left {
    padding: 0 0 0 1.8rem;
}

.u-outdent-left{
    text-indent: -.9rem;
    padding-left: .9rem;
}

.u-spacing-textblock {
    margin-bottom: 1rem;
}

.u-nowrap-phrase {
    white-space: nowrap;
}

/* Something that looks (and probably acts) like a link, but isn't really an <a> */
.u-link-pseudo {
    color: $color-main !important;
    border-bottom: .15rem dotted !important;
    cursor: pointer !important;
}
.u-link-pseudo:hover,
.u-link-pseudo:focus,
.u-link-pseudo:active {
    border-bottom: .15rem solid !important;
    cursor: pointer !important;
}
.u-link-pseudo-no-underline {
    color: $color-main !important;
    cursor: pointer !important;
}

/* Button - simple */
.u-button-simple {
    border-radius: .5rem;
    border: .2rem solid white;
    color: white;
    padding: .4rem;
    background-color: $color-main;
}

/* Notice in content area */
.u-notice-body {
    border-radius: .5rem;
    background-color: #ffeea3;
    margin: 1rem 0;
    padding: 1rem;
    border: .3rem solid #feda09;
}
.u-notice-body p {
    margin: 0;
    padding: 0;
}

/* Loading notification */
.u-notification-loading {
    border-radius: .5rem;
    border: .2rem solid white;
    background-color: $color-main;
    text-align: center;
    color: white;
    padding: 1rem;
    position: fixed;
    width: 20rem;
    height: 6rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
}



/* State utility classes - these are meant to be added or removed to turn them on and off */

/* Use to hide things AND remove them from document flow */
.u-_is-absent {
    display: none !important;
}

/* Use to hide things */
.u-_is-invisible {
    visibility: hidden !important;
}

/* Draw attention to something by giving it a yellow highlight background. */
.u-_lookatme {
    animation-name: lookatme;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
    @keyframes lookatme {
        0%,100% {
            background-color: inherit;
            color: inherit;
        }
        10%,80% {
            background-color: #ffdd00;
            color: black;
        }
    }

.u-_is-current-nav-link {
    border-bottom-style: solid; /* Gets overriden otherwise */
}
